flows.json
[{"id":"310beb02.81d674","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7493e9ee.4b09e8","type":"comment","z":"310beb02.81d674","name":"Node-Red y Git","info":"","x":420,"y":100,"wires":[]},{"id":"35dabc00.f31dc4","type":"inject","z":"310beb02.81d674","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":180,"wires":[["c6b78340.0b97e"]]},{"id":"c6b78340.0b97e","type":"debug","z":"310beb02.81d674","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":180,"wires":[]}]